body{
    margin: 0;                  /*För att ta bort kanterna på hemsidna*/
    background-color: beige;  /*För att få backgrunds färgen till beige*/
}

.header{
    text-align: center;             /*För att få "Film rekomendationer" i mitten av headern*/
    margin: 0;                      /*För att få bort top/bottom margin på texten (gör så att paddingen/färgen nuddar taket av hemsidan*/
    padding: 15px;                  /*För att få en slags header med pixlarna 15*/
    background-color:#add8e6;     /*För att få paddingen till en annan färg*/
}




div{
    float: left;            /*För att få alla posters/namnen komma bredvid varandra*/
    width: 31%;             /*För att få så att diven bara tar upp 31% av hemsidan, så att alla posters får plats bredvid varandra*/
    padding: 14px;          /*För att få avstånd mellan postersarna*/
}

div p{
    text-align: center;             /*För att få p texten i mitten av "knappen"*/
    font-size: x-large;             /*För att göra p texten större*/
    margin: 0px;                    /*För att få bort all margin runt om texten (och så att man inte kan scrolla eftersom att det är onödigt i detta fall*/
    margin-left: 46.5px;              /*För att få knappen i ungefär mitten*/
    margin-top: 5px;                /*För att få avståndet mellan posterarna och namnen*/
    padding: 5px;                   /*För att göra bordern större*/
    color: black;                 /*För att göra texten svart*/
    border: solid black;          /*För att göra bordern solid och svart/skapa border*/
    background-color: white;      /*För att göra bakgrunden på bordern till vit*/
    width: 290px;                   /*För att få "knappen" till 290px*/
    box-shadow: 5px 5px #564c4d;  /*För att få en shadow bakom "knappen"*/
}

.posters{
    margin-left: 50px;  /*För att få bilderna i center*/
    width: 75%;         /*För att få postersarna till 75% av diven*/
    height: 430px;      /*För att få postersarna till samma height*/
}



