body{
    margin: 0;                  /*För att ta bort kanterna på hemsidna*/
    background-color: beige;  /*För att få backgrunds färgen till beige*/
}

.header{
    text-align: center;             /*För att sätta texten i mitten av headern*/
    background-color:#add8e6;     /*För att få paddingen till en annan färg*/
    padding: 15px;                  /*För att göra headern till 15px*/
    margin: 0px;                    /*För att ta bort all margin runt headern*/
}

.container{
    display: flex; 
    justify-content: space-around;
    margin: 20px;
}

.item{
    transition: transform .2s;  /*För att skapa en animation som tar 2s*/
}

.item:hover{
    transform:scale(97%)    /*För att få en animation när man hoverar item, denna animationen är en skala förändring*/
}

div div p{
    margin: 5px;                    /*För att skapa ett avstånd mellan posters och "knappen"*/
    text-align: center;             /*För att få p texten i mitten av "knappen"*/
    font-size: x-large;             /*För att göra p texten större*/
    padding: 5px;                   /*För att göra bordern större*/
    color: black;                 /*För att göra texten svart*/
    background-color: white;      /*För att göra bakgrunden på "knappen" till vit*/
    border: solid black;          /*För att göra bordern solid och svart/skapa border*/
}

.posters{
    height: 425px;              /*För att få en height på posterna som är 425px (mest så att alla har samma height)*/
    border-radius: 1%;          /*För att få runda hörn*/
    transition: transform .2s;  /*För att skapa en ytterligare animation*/
}

.posters:hover{
    transform: scale(95%)   /*För att transformera postersarna till 95% av orginalstorleken när den hoverars, 
                            detta är alltså en ytterligare nedskalning från item:hovern (jag tyckte det såg bättre ut)*/
}