body{
    margin: 0;
    background-color: beige;
}

.header{
    display: grid;
    grid-template-columns: 40px auto;
    background-color:#add8e6;
    padding: 15px;
}

.header h1{
    text-align: center;
    margin: 0px;
    margin-right:40px;
}

.header h2{
    font-size:medium;  
    color:black;
    margin: 0px;
    margin-top: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    gap: 5px;
}

.item{
    display: grid;
    height:100%;
}

img{
    width: 700px;
    border-radius: 1%;
}


.maintext{
    width: 500px;
    background-color: white;
    padding: 10px;
    border: solid; 
    border-radius: 1%; 
    position: relative;
}

.maintext h2{
    margin: 0%; 
    text-align: center;
}

.maintext ul{
    margin-bottom: 10px;
    padding: 0px;
    position: absolute;
    bottom: 0;
}