body{
    margin: 0;
    background-color: beige;
}   

.header{
    margin: 0px;
    padding: 15px;                  /*För att få en slags header med pixlarna 15*/
    background-color:#add8e6;     /*För att få paddingen till en annan färg*/
}

.header h1{
    text-align: center;         /*För att få "Film rekommendationer" i mitten av headern*/
    margin: 0px;                /*För att få all margin runt "Filme rekommendationer" till 0*/
    margin-right: 49px;         /*För att öka den högra sidans (detta är för att få "Film rekommendationer" i mitten, alltså h2 
                                förstör text-align på grund av att h2 tar upp plats)*/
}

.header h2{
    float: left;        /*För att få "hem" till vänsta sidan av headern*/
    font-size:medium;   /*För att minska storleken på "hem"*/
    color:black;      /*För att vå svart färg på texten*/
}

img{
    margin: 9px;        /*För att främst öka avståndet mellan headern och bilden*/
    float: left;        /*För att få bilden till vänster*/
    width: 50%;         /*För att få bilden til 50% av sidan så att maintext kan få plats*/
}

.maintext{
    float: right;   
    width: 45%;
    margin: 9px;
    background-color: white;
    padding: 10px;
    border: solid;
}

.maintext h2{
    margin: 0%;
    text-align: center;
}